/* body{ font: 14px Georgia, serif; background-color: #046307; } */


input {
   font-family: 'Roboto', Arial, Helvetica, sans-serif;
   font-size: 12pt;
   color: #333;
}
a:link { text-decoration: none; }
#error{
   font-family: 'Roboto', Arial, Helvetica, sans-serif;
   font-size: 16pt;
   color: red; 
}

h1  { margin: 25px 0; font: 18px Georgia, Serif; text-transform: uppercase; letter-spacing: 3px; }

#quiz input {
    vertical-align: middle;
}

#quiz ol {
   margin: 0 0 10px 20px;
}

#quiz ol li {
   margin: 0 0 20px 0;
}

#quiz ol li div {
   padding: 4px 0;
}

#quiz h3 {
   font-size: 17px; margin: 0 0 1px 0; color: black;
}

h1.quizbn{
   color: white;
   text-align: center;
}

#results {
    font: 44px Georgia, Serif;
}

#b {
    text-align: center;
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 1px;
    border: 12px black;    
    /* background-color: yellow;  */
  }

  .biginnerli{
    background: yellow; 
    padding: 10px; 
    border: 1px WHITE; 
    border-radius: 25px;
  }


.playagainbtn, .resetbtn {
   display: inline-block;
   font-size: 12pt;
   margin-top: 30px;
}

.playagainbtn{
   color: green;
}

.endbtn{
   color: red;
}






